---
import AuthorCard from "@components/AuthorCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Descripcion Autores">
  <!-- component -->
  <section class="bg-gray-900">
    <AuthorCard />
  </section>
</MainLayout>
