---
import AuthorCard from "@components/AuthorCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const authorList = await getCollection("author");
---

<MainLayout title="Descripcion Autores">
  <a href="/" class="text-blue-500">Regresar</a>
  <section class="bg-gray-900 grid grid-cols-1 md:grid-cols-2 gap-4 my-2">
    {authorList && authorList.map((author) => <AuthorCard {author} />)}
  </section>
</MainLayout>
