---
import { ViewTransitions } from "astro:transitions";

import "../styles/blog.css";
// interface Props {
//   title?: string;
// }

const { title, ...rest } = Astro.props;
const frontMatter = rest.frontmatter;
console.log("algo", rest);
console.log("algo");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontMatter.title}</title>

    <ViewTransitions />
  </head>
  <body class="bg-gray-900">
    <a href="/">Regresar</a>
    <main class="mb-10 max-w-5xl m-auto p-2">
      <slot />
    </main>
  </body>
</html>
