---
import MainLayout from "@layouts/MainLayout.astro";
import { siteConfig } from "@config/site-config";
import BlogPost from "@components/BlogPost.astro";
// const globalPosts = await Astro.glob("@pages/posts/*{.md,.mdx}");
const globalPosts = await Astro.glob("@pages/posts/*.{md,mdx}");
---

<MainLayout title={siteConfig.title}>
  <!-- component -->
  <section class="bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
        {siteConfig.description}
      </h1>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {globalPosts.map((post) => <BlogPost {...post} />)}
      </div>
    </div>
  </section>
</MainLayout>
