---
import MainLayout from "@layouts/MainLayout.astro";
import { siteConfig } from "@config/site-config";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
console.log("blog posts", blogPosts);
---

<MainLayout title={siteConfig.title}>
  <!-- component -->
  <section class="bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
        {siteConfig.description}
      </h1>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2"></div>
    </div>
  </section>
</MainLayout>
